<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>foodApp 2k15</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body class="indexPage">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class=""><a href="/" class="navbar-brand" style="display:none;"><i class="fa fa-cutlery"></i> delivr</a></span>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Nav</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a class="nav-btn" href="/">HOME</a></li>
          <% if (!user) { %>
            <li><a class="btn nav-btn" href="/auth/facebook">SIGN IN</a></li>
          <% } else { %>
            <li><a class="nav-btn" href="/feed">FEED</a>
            <li class="dropdown">
              <a href="#" class="nav-btn dropdown-toggle" data-toggle="dropdown">
              <img src="http://graph.facebook.com/<%= user.id %>/picture" class="profile-image img-circle">  <%= user.displayName %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
                <li class="divider"></li> -->
                <li><a class="" href="/logout"><i class="fa fa-sign-out"></i> Sign-out</a></li>
              </ul>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
    

    <!-- Banner -->
    <div class="jumbotron banner">

      <br>
      <br>
      <br>
      <br>
      <div class="banner-inner container animated fadeInUp">
        <h1>Welcome to Delivr.</h1>
        <p><b>A simple, cross-platform app for fulfilling your foodie needs.</b></p>
        <!-- <p>
          <a class="btn btn-lg btn-default" href="#sec1" role="button">Learn More &raquo;</a>
        </p> -->
        <a id="double-angle" href="#sec1" class="fa fa-angle-double-down fa-3x" style="color:white;"></a>

      </div>
    </div>
    
    <div class="container">
      <div class="row">

        <!--left-->
        <div class="col-md-3" id="aboutSections">
          <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#sec1">About</a></li>
            <li><a href="#sec2">Features</a></li>
            <li><a href="#sec3">Section 3</a></li>
          </ul>
        </div><!--/left-->
        
        <!--right-->
        <div class="col-md-9" id="sec1">
          <div class="row">
            <h2>Pull a live feed of what restaurants people are craving</h2>
            <h2 id="sec2">Or make some quick cash by delivering to your hungry peers. </h2>
          </div>
          
          <hr>
          
          <div class="row">
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          </div>
          
          <hr>
          

          </div><!--/right-->
        </div><!--/row-->
    </div><!--/container-->


    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <!-- <script src="js/redirect.js"></script> -->

    <!-- Plugin JavaScript -->
    <script src="js/vendor/jquery.easing.1.3.js"></script>
    

    <script>
      /* activate sidebar */
      $('#sidebar').affix({
        offset: {
          top: 670
        }
      });

      /* activate scrollspy menu */
      var $body = $(document.body);
      var navHeight = $('.navbar').outerHeight(true) + 10;

      $body.scrollspy({
        target: '#aboutSections',
        offset: navHeight
      });

    </script>
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>


