<html>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>foodApp 2k15</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

	<body onLoad = "startnewsfeed()">
		<div id="maindiv"></div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>

		function startnewsfeed(){
			$.ajax({
				type: "GET",
				url: "http://localhost:5000/newsfeed",
				data: {
				},
				success:function(data){
					console.log(data.length)
					for (var i = 0; i < data.length; i++){
					createRequest(data[i].Restaurant, data[i].Food, data[i].TimeRange, data[i].MyLocation, data[i].DeliveryFee, data[i].TimeOfPost);
					}
					console.log(data[i].Restaurant);
				},
				xhrFields: {withCredentials: true},
          		error:function(response2){
           			console.log("ERROR")
           		}
			});
		}

		function createRequest(restaurant, food, timeRange, myLocation, deliveryFee, timeOfPost){

			var maindiv = document.getElementById("maindiv")

			var nameElement = document.createElement("span");
			nameElement.innerHTML = "Requested by " + "Sridatt Bhamidipati" //name from facebook
			maindiv.appendChild(nameElement);

			maindiv.appendChild(document.createElement("br"));

			var restaurantElement = document.createElement("span");
			restaurantElement.innerHTML = "Restaurant: " + restaurant;
			maindiv.appendChild(restaurantElement);

			maindiv.appendChild(document.createElement("br"));

			var foodElement = document.createElement("span");
			foodElement.innerHTML = "Food: " + food;
			maindiv.appendChild(foodElement);

			maindiv.appendChild(document.createElement("br"));

			var timeRangeElement = document.createElement("span");
			timeRangeElement.innerHTML = "Time Range: " + timeRange;
			maindiv.appendChild(timeRangeElement);

			maindiv.appendChild(document.createElement("br"));

			var myLocationElement = document.createElement("span");
			myLocationElement.innerHTML = "Location: " + myLocation;
			maindiv.appendChild(myLocationElement);

			maindiv.appendChild(document.createElement("br"));

			var deliveryFeeElement = document.createElement("span");
			deliveryFeeElement.innerHTML = "Delivery Fee: $" + deliveryFee;
			maindiv.appendChild(deliveryFeeElement);

			maindiv.appendChild(document.createElement("br"));

			var timeOfPostElement = document.createElement("span");
			timeOfPostElement.innerHTML = "Posted on " + timeOfPost;
			maindiv.appendChild(timeOfPostElement);

			maindiv.appendChild(document.createElement("br"));

			var buttonelement = document.createElement("button");
			buttonelement.innerHTML = "Delivr";

			maindiv.appendChild(document.createElement("br"));


		}


	</script>

</html>